<div class="home-container">
  <section class="section tentang-kami" data-aos="fade-up">
    <div class="text">
      <h3>Tentang Kami</h3>
      <p>
        Solusi inovatif untuk manajemen kost yang <strong>menghubungkan tenant, pemilik kos, dan penjaga kos</strong> dalam satu ekosistem yang efisien. Kami memahami bahwa mencari tempat tinggal yang ideal dan mengelola properti bisa menjadi tantangan yang kompleks. Oleh karena itu, kami hadir untuk menyederhanakan proses ini melalui teknologi yang canggih dan mudah digunakan.
      </p>
    </div>
    <img src="../../../assets/images/aboutus1.png" alt="Kost Building" class="image" />
  </section>

  <section class="section misi-kami" data-aos="fade-up">
    <div class="mota-logo">
      <img src="../../../assets/images/aboutus2.png" alt="Mota Logo" />
    </div>
    <div class="text">
      <h3>Misi Kami</h3>
      <p>
        Misi kami adalah menciptakan platform yang tidak hanya memudahkan pencarian kost, tetapi juga membantu pemilik kos dalam mengelola properti mereka secara efektif. Kami percaya bahwa dengan memberikan alat yang tepat, setiap pemilik kos dapat meningkatkan kinerja finansial dan operasional properti mereka. Di sisi lain, tenant dapat menemukan tempat tinggal yang sesuai dengan kebutuhan dan anggaran mereka dengan lebih cepat dan mudah.
      </p>
    </div>
  </section>

  <section class="section layanan-kami" data-aos="fade-up">
    <h3>Layanan Kami</h3>
    <div class="layanan-grid">
      <div class="layanan-item">
        <!-- <img src="assets/icons/easy-find.svg" alt="" /> -->
        <p>Mudah menemukan kost</p>
      </div>
      <div class="layanan-item">
        <!-- <img src="assets/icons/property-management.svg" alt="" /> -->
        <p>Management Properti Kos</p>
      </div>
      <div class="layanan-item">
        <!-- <img src="assets/icons/pelaporan.svg" alt="" /> -->
        <p>Pelaporan Keluhan Mudah</p>
      </div>
      <div class="layanan-item">
        <!-- <img src="assets/icons/payment-process.svg" alt="" /> -->
        <p>Proses pembayaran Mudah</p>
      </div>
      <div class="layanan-item">
        <!-- <img src="assets/icons/financial-analysis.svg" alt="" /> -->
        <p>Analisa Keuangan Pemilik Kos</p>
      </div>
      <div class="layanan-item">
        <!-- <img src="assets/icons/info-sharing.svg" alt="" /> -->
        <p>Penyebaran Informasi Mudah</p>
      </div>
    </div>
  </section>

  <section class="section ajakan" data-aos="fade-up">
    <p>Apakah Anda sedang mencari tempat tinggal?<br>
    Apakah Anda seorang pemilik properti kos yang ingin meningkatkan pengelolaan kos?<br>
    Apakah Anda seorang penjaga kos yang ingin meringankan tugas sehari-hari?</p>
    <p class="highlight">
      Kami siap membantu Anda mencapai tujuan Anda dengan solusi manajemen kost yang efektif dan efisien.
    </p>
  </section>
  <div class="ending"><h3><strong>Mari bergabung dengan <span class="koma">KoMa</span></strong> dan rasakan kemudahan dalam manajemen kost.</h3></div>

</div>
