<!-- <div class="loginPage">
    <img src="../../../assets/images/komaLogo.png" class="imageLogo" alt="komaLogo">
    <form class="form">
      <p class="form-title">KoMa</p>
      <p class="form-title2">Kost-kostan Management</p>
       <div class="input-container">
         <input placeholder="Nama Lengkap">
         <input placeholder="Kata Sandi" type="password">
      </div>
        <button class="submit" type="submit">
       LOGIN
     </button>

     <p class="signup-link">
       Belum punya akun?
       <a href="/register">Registrasi</a>
     </p>
    </form>
  </div> -->

  <div class="login-container">
    <img src="../../../assets/images/komaLogo.png" alt="logo" class="imageLogo">
    <div class="login-card">
      <header class="login-header">
        <h1>KOMA</h1>
        <p class="subtitle">Kost-kostan Management</p>
      </header>

      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="login-form">
        <div class="form-group">
          <label for="email">Alamat E-mail</label>
          <input
            type="text"
            id="email"
            minlength="5"
            formControlName="email"
            placeholder="Masukkan alamat E-mail">
        </div>

        <div class="form-group">
          <label for="password">Kata Sandi</label>
          <input
            type="password"
            id="password"
            minlength="8"
            formControlName="password"
            placeholder="Masukkan kata sandi">
        </div>

        <button type="submit" class="login-button" [disabled]="!loginForm.valid">
          LOGIN
        </button>
        <div class="register-link">
          <a href="#" (click)="$event.preventDefault(); openForgotPasswordDialog()">Lupa Password?</a>
        </div>
      </form>

      <div class="register-link">
        Belum punya akun? <a routerLink="/register">Registrasi</a>
      </div>
    </div>
  </div>
