<!-- <div class="loginPage">
    <img src="../../../assets/images/komaLogo.png" class="imageLogo" alt="komaLogo">
    <form class="form">
      <p class="form-title">KoMa</p>
      <p class="form-title2">Kost-kostan Management</p>
       <div class="input-container">
         <input placeholder="Nama Lengkap">
         <input placeholder="Kata Sandi" type="password">
      </div>
        <button class="submit" type="submit">
       LOGIN
     </button>

     <p class="signup-link">
       Belum punya akun?
       <a href="/register">Registrasi</a>
     </p>
    </form>
  </div> -->

  <div class="login-container">
    <img src="../../../assets/images/komaLogo.png" alt="logo" class="imageLogo">
    <div class="login-card">
      <header class="login-header">
        <h1>KOMA</h1>
        <p class="subtitle">Kost-kostan Management</p>
      </header>
      
      <form>
      <div class="form-field">
          <label for="password">Kata Sandi</label>
          <input id="password" type="password" formControlName="password"
                 [class.invalid]="form.get('password')?.invalid && form.get('password')?.touched">
          <div *ngIf="form.get('password')?.invalid && form.get('password')?.touched" class="error-message">
            Password minimal 8 karakter
          </div>
        </div>

        <!-- Confirm Password Field -->
        <div class="form-field">
          <label for="confirmPassword">Konfirmasi Kata Sandi</label>
          <input id="confirmPassword" formControlName="confirmPassword" type="password"
                 [class.invalid]="form.hasError('passwordsMismatch') && form.get('confirmPassword')?.touched">
          <div *ngIf="form.hasError('passwordsMismatch') && form.get('confirmPassword')?.touched" class="error-message">
            Password tidak cocok
          </div>
        </div>

        <button type="submit" class="login-button" [disabled]="!loginForm.valid">
          Reset password
        </button>
      </form>

    </div>
  </div>

